

.listCounterCircle {
    list-style: none;
    /* width: 300px; */
    height: 50px;
    border: 2px solid rgb(124, 21, 85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(182, 126, 126);
    margin-bottom: 10px;
}
.listCounterCircle:last-child {
    margin-bottom: 0;
}
.BtnInput {
    /* width: 100%; */
    background-color: #421438;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
        
.BtnInput:hover {
    background-color: #92267d;
}